// .ant-layout-header {
//     width: 100%;

    .site-layout-background {
        width: 100%;
        transition: width 0.2s;
        z-index: 9;
        position: relative;
        // height: 64px;
        background: #fff !important;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
        display: flex;
        flex-direction: column;
        width: 100%;

        .trigger {
            // background-color: red;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .main-left {
                flex: 10;
            }
            .main-right {
                float: right;
                flex: 1;
            }
        }
        // .tagview{
        //     height: 100px;
        //     width: 100%;
        // }

    }
// }